@media (min-width: 50rem) {
  div.site-header {
    height: 264px;
    max-height: 264px;
  }
}

details > summary {
  font-weight: bold;
}

div.site-logo {
  background-position: center center;
}

a.site-title {
  padding: 0px 6px 0px 6px;
}

div.noted {
  color: #ff6347;
  font-weight: bold;
  float: right;
}

a.package {
  font-size: larger;
  font-weight: bold;
}

div.project {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  box-shadow: 0px 5px 5px #88888840;
  margin: 10px 0px;
  padding: 2px;
  border-radius: 5px;
  background-color: #f5f6fa;
  @media (prefers-color-scheme: dark) {
      background-color: #000000;
      box-shadow: 0px 0px 5px rgb(106, 143, 188);
  }

}

div.project.affiliated {
}

div.project.deprecated {
  background-color: #ffdad9;
  @media (prefers-color-scheme: dark) {
    background-color: #501109;
  }
}

div.project .nameorlogo {
  flex-basis: 200px;
  flex-shrink: 0;
  padding: 2px;
  text-align: center;
}

div.project .nameorlogo a img {
  vertical-align: middle;
}

div.project .description {
  flex-basis: 150px;
  flex-shrink: 0;
  flex-grow: 1;
  padding: 2px;
}

div.description .inner p {
  display: inline;
}

pre.highlight {
  line-height: 1.2;
}
